{% if item.is_dir and item.Title %}
	<a href='#report_{{item.Id}}' class="item">{{item.Title}}</a>
	{% if item.children %}
		<ul class="nav nav-list">
			{% for item in item.children %}
				{% include "@SemanticReports/Default/html/report_list_table_of_contents_item.twig" %}
			{% endfor %}
		</ul>
	{% endif %}
	
{% endif %}
