{% block chart_area %}
    {% if has_charts is defined and no_charts is not defined %}
				<iframe src="{{ url('eidsonator_generate_chart') }}?{{report_querystring}}" id='chart_container' class="auto-height" scrolling="no" style='width:100%;' frameborder="0"></iframe>
        <script>
            $(function() {
                $('iframe#chart_container').iframeAutoHeight();
            });
        </script>
    {% endif %}
{% endblock %}

<div style="overflow-x: scroll">
{% include "@SemanticReports/Default/html/table.twig" %}
</div>

{% if terse is not defined %}
<div class="row" style="padding-top: 1.25rem;">
    <div class="col-md-12">Wygenerowanie zabrało {{Time}} sekund.</div>
</div>

{% block show_query %}
	{% if Query_Formatted %}
		{#<a data-role="button" data-toggle="collapse" data-target="#query_holder" href="#query_holder">show query</a>#}
		<div class="ui accordion">
			<div class="title">
				<i class="dropdown icon"></i>
				Pokaż zapytanie SQL
			</div>
			<div id='query_holder' class='content' style='padding-left: 20px;'>
				{{Query_Formatted|raw}}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% endif %}

